<script setup lang="ts">
import { onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import reviewType from '@/components/review-type.vue';
import useReviewDetail from '@/composables/useReviewDetail';

const route = useRoute();
const router = useRouter();
const { project, init } = useReviewDetail();

if (typeof route.params.id != "string") {
  router.push('/'); // パラメータが足りない
}

onMounted(async () => {
  if (typeof route.params.id == "string") {
    await init(parseInt(route.params.id));
  }
});
</script>

<template>
  <v-card class="ma-4">
    <v-card-title class="bg-blue-grey-lighten-1">
      {{ project.name_with_namespace }}
      <v-btn
        density="compact"
        icon="mdi-open-in-new"
        variant="text"
        :href="project.web_url"
        target="_blank"
      />
    </v-card-title>
    <v-container fluid>
      <v-row no-gutters>
        <v-col cols="4">
          <v-sheet
            :elevation="8"
            color="teal"
            rounded
            class="pa-4 ma-2"
          >
            <p class="text-h5">レビュー率：{{ project.ProjectReviewedMergeRate().toFixed(2) }} %</p>
          </v-sheet>
        </v-col>
        <v-col cols="4">
          <v-sheet
            :elevation="8"
            color="orange-darken-1"
            rounded
            class="pa-4 ma-2"
          >
            <p class="text-h5">レビュー待ち：{{ project.ProjectWaitReviewMergeRequest() }} 件</p>
          </v-sheet>
        </v-col>
        <v-col cols="4">
          <v-sheet
            :elevation="8"
            color="red"
            rounded
            class="pa-4 ma-2"
          >
            <p class="text-h5">差し戻し中：{{ project.ProjectNGMergeRequest() }} 件</p>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
    <v-divider />
    <v-table fixed-header height="576px">
      <thead>
        <tr>
          <th class="text-left">状態</th>
          <th class="text-left">タイトル</th>
          <th class="text-left">種別</th>
          <th>セルフレビュー</th>
          <th>レビュー</th>
          <th>第三者レビュー</th>
        </tr>
      </thead>
      <tbody>
        <template
          v-for="item in project.merge_requests"
          :key="item.id"
        >
          <tr>
            <td><v-chip :color="item.state == 'opened' ? 'blue' : 'grey-darken-3'">{{ item.state }}</v-chip></td>
            <td>
              {{ item.title }}
              <v-btn
                density="compact"
                icon="mdi-open-in-new"
                variant="text"
                :href="item.web_url"
                target="_blank"
              />
            </td>
            <td><reviewType :merge_request="item" :disabled="item.state != 'opened'"/></td>
            <td>
              <v-chip color="blue" class="mx-1">{{ item.checkedReviewList('self_review', 'ok').length }}</v-chip>
              <v-chip color="red" class="mx-1">{{ item.checkedReviewList('self_review', 'ng').length }}</v-chip>
              <v-chip color="grey-darken-3" class="mx-1">{{ item.checkedReviewList('self_review', 'ignore').length }}</v-chip>
              <v-btn
                class="mx-1"
                variant="outlined"
                :to="`/p/${item.project_id}/m/${item.iid}?type=self_review`"
                :disabled="item.state != 'opened'"
              >
                レビュー
              </v-btn>
            </td>
            <td>
              <v-chip color="blue" class="mx-1">{{ item.checkedReviewList('review', 'ok').length }}</v-chip>
              <v-chip color="red" class="mx-1">{{ item.checkedReviewList('review', 'ng').length }}</v-chip>
              <v-chip color="grey-darken-3" class="mx-1">{{ item.checkedReviewList('review', 'ignore').length }}</v-chip>
              <v-btn
                class="mx-1"
                variant="outlined"
                :to="`/p/${item.project_id}/m/${item.iid}?type=review`"
                :disabled="item.state != 'opened'"
              >
                レビュー
              </v-btn>
            </td>
            <td>
              <v-chip color="blue" class="mx-1">{{ item.checkedReviewList('outsider_review', 'ok').length }}</v-chip>
              <v-chip color="red" class="mx-1">{{ item.checkedReviewList('outsider_review', 'ng').length }}</v-chip>
              <v-chip color="grey-darken-3" class="mx-1">{{ item.checkedReviewList('outsider_review', 'ignore').length }}</v-chip>
              <v-btn
                class="mx-1"
                variant="outlined"
                :to="`/p/${item.project_id}/m/${item.iid}?type=outsider_review`"
                :disabled="item.state != 'opened'"
              >
                レビュー
              </v-btn>
            </td>
          </tr>
        </template>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
</style>
