<script setup lang="ts">
import { ref, computed } from 'vue';
import { datas } from '@/assets/list';
import detailModal from '@/components/detail-modal.vue';
import reviewType from '@/components/review-type.vue';
import reviewerType from '@/components/reviewer-type.vue';

const filterText = ref('');
const filterReview = ref([]);
const filterReviewer = ref([]);

const reviewTypeList = [
  {title: '要件定義', value:'requirement'},
  {title: '設計', value:'soft_design'},
  {title: '実装', value:'coding'},
  {title: '単体テスト', value:'unit_test'},
  {title: '結合テスト', value:'integration_test'}
];
const reviewerTypeList = [
  {title: 'セルフレビュー', value:'self_review'},
  {title: 'レビュー', value:'review'},
  {title: '第三者レビュー', value:'outsider_review'}
];

const showList = computed(() => {
  const filtered = datas.filter((item) => {
    const text = item.label.includes(filterText.value);
    let review = false;
    let reviewer = false;

    if (filterReview.value.length > 0) {
      for (const fr of filterReview.value) {
        if (item.type.includes(fr)) {
          review = true;
        }
      }
    } else {
      review = true;
    }

    if (filterReviewer.value.length > 0) {
      for (const fr of filterReviewer.value) {
        if (item.category.includes(fr)) {
          reviewer = true;
        }
      }
    } else {
      reviewer = true;
    }

    return text && review && reviewer;
  });

  return filtered;
});
</script>

<template>
  <v-sheet class="ma-4">
    <div class="d-flex">
      <v-text-field v-model="filterText" class="pa-2" density="compact" label="タイトル" hide-details />
      <v-select
        v-model="filterReview"
        :items="reviewTypeList"
        class="pa-2"
        density="compact"
        label="カテゴリ"
        multiple
        hide-details
        chips
      />
      <v-select
        v-model="filterReviewer"
        :items="reviewerTypeList"
        class="pa-2"
        density="compact"
        label="対象"
        multiple
        hide-details
        chips
      />
    </div>
    <v-divider />
    <v-table fixed-header height="90vh">
      <thead>
        <tr>
          <th class="text-left">タイトル</th>
          <th />
          <th class="text-left">カテゴリ</th>
          <th class="text-left">対象</th>
        </tr>
      </thead>
      <tbody>
        <template
          v-for="item in showList"
          :key="item.value"
        >
          <tr>
            <td class="text-left">{{ item.label }}</td>
            <td class="text-left"><detailModal :review_info="item" /></td>
            <td>
              <template v-if="item.type.length == 0">
                <span class="mx-1"><reviewType label_type="全て" :disabled="true" /></span>
              </template>
              <template v-else>
                <span class="mx-1"
                  v-for="lbl in item.type"
                  :key="lbl"
                >
                  <reviewType
                    :label_type="lbl"
                    :disabled="true"
                  />
                </span>
              </template>
            </td>
            <td>
              <template v-if="item.category.length == 0">
                <span class="mx-1"><reviewerType label_type="全て" :disabled="true" /></span>
              </template>
              <template v-else>
                <span class="mx-1"
                  v-for="lbl in item.category"
                  :key="lbl"
                >
                  <reviewerType
                    :label_type="lbl"
                  />
                </span>
              </template>
            </td>
          </tr>
        </template>
      </tbody>
    </v-table>
  </v-sheet>
</template>

<style scoped>
</style>
