<script setup lang="ts">
import { ref, computed, onMounted } from 'vue';
import useReviewList from '@/composables/useReviewList';

const { projects, init } = useReviewList();
const showAll = ref(false);

const show_projects = computed(() => {
  if (showAll.value) {
    return projects.value;
  } else {
    return projects.value.filter((item) => {
      return item.merge_requests.length > 0;
    });
  }
});

onMounted(async () => {
  await init();
});
</script>

<template>
  <v-sheet class="ma-4">
    <div class="d-flex">
      <v-switch
        v-model="showAll"
        label="全表示"
        color="info"
        class="mx-4"
        hide-details
      />
      <v-btn
        to="/reviewpoint"
        class="align-self-center mx-4"
        color="blue-lighten-1"
      >
        レビュー観点を確認する
      </v-btn>
    </div>
    <v-divider />
    <v-table fixed-header height="576px">
      <thead>
        <tr>
          <th class="text-left">プロジェクト</th>
          <th class="text-left">レビュー待ち</th>
          <th class="text-left">差し戻し</th>
          <th />
        </tr>
      </thead>
      <tbody>
        <template
          v-for="item in show_projects"
          :key="item.name_with_namespace"
        >
          <tr>
            <td>{{ item.name_with_namespace }}</td>
            <td><v-chip class="ml-4" color="orange-darken-1">{{ item.ProjectWaitReviewMergeRequest() }}</v-chip></td>
            <td><v-chip class="ml-4" color="red">{{ item.ProjectNGMergeRequest() }}</v-chip></td>
            <td class="text-right">
              <v-btn color="blue-lighten-1" :to="`/p/${item.id}`">ダッシュボード</v-btn>
            </td>
          </tr>
        </template>
      </tbody>
    </v-table>
  </v-sheet>
</template>

<style scoped>
</style>
