<script setup lang="ts">
import { onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import useOAuth2 from '@/composables/useOAuth2';
import useUser from '@/composables/useUser';

const router = useRouter();

onMounted(async () => {
  const route = useRoute();
  const { user, syncUserInfo } = useUser();

  if (user.value.id == 0 && route.query['code']) {
    // 未ログインでcallbackの場合
    await useOAuth2().callback(route.query['code'].toString());
    await syncUserInfo();
  }

  router.push('/');
});
</script>

<template>
  <div class="flex">
    ログイン承認中
  </div>
</template>

<style scoped>
</style>
