<script setup lang="ts">
import { ref, PropType } from 'vue';
import { Item } from '@/assets/list';
import markdown from '@/components/markdown.vue';

const propsValue = defineProps({
  review_info: Object as PropType<Item>
});

const dialog = ref(false);
const detail = ref('/markdown/default.md');

if (propsValue.review_info) {
  detail.value = `/markdown/${propsValue.review_info.file}`;
} else {
  detail.value = '/markdown/default.md';
}
</script>

<template>
  <v-dialog v-model="dialog" width="75vw">
    <template v-slot:activator="{ props }">
      <v-btn v-bind="props" class="ml-2" density="compact" color="blue">詳細</v-btn>
    </template>
    <v-card>
      <markdown class="ma-1" :path='detail' />
    </v-card>
  </v-dialog>
</template>

<style scoped>
</style>
