<script setup lang="ts">
import { ref, computed, Ref, PropType, onMounted } from 'vue';
import { MergeRequests, reviewType } from "@/models/gitlab/merge_requests";
import useGitLab from '@/composables/useGitLab';

const props = defineProps({
  merge_request: Object as PropType<MergeRequests>,
  label_type: String,
  disabled: Boolean
});

const dialog = ref(false);
const type: Ref<reviewType> = ref('');

const txtLabel = computed(() => {
  const target = props.merge_request ? props.merge_request.type : props.label_type;

  let label = '不明';
  if (target == 'requirement') {
    label = '要件定義';
  } else if (target == 'soft_design') {
    label = '設計';
  } else if (target == 'coding') {
    label = '実装';
  } else if (target == 'unit_test') {
    label = '単体テスト';
  } else if (target == 'integration_test') {
    label = '結合テスト';
  } else if (props.label_type) {
    label = props.label_type;
  }
  return label;
});

const txtColor = computed(() => {
  const target = props.merge_request ? props.merge_request.type : props.label_type;

  let color = '';
  if (target == 'requirement') {
    color = 'deep-purple';
  } else if (target == 'soft_design') {
    color = 'indigo';
  } else if (target == 'coding') {
    color = 'teal';
  } else if (target == 'unit_test') {
    color = 'light-green';
  } else if (target == 'integration_test') {
    color = 'yellow';
  }
  return color;
});

onMounted(() => {
  type.value = props.merge_request?.type ?? '';
});

const save = async () => {
  if (props.merge_request instanceof MergeRequests) {
    props.merge_request.updateBasicInfo(type.value);

    await useGitLab().updateMergeRequest(props.merge_request);
  }
  dialog.value = false;
};

</script>

<template>
  <v-dialog
    v-model="dialog"
    width="25vw"
    :disabled="disabled"
  >
    <template v-slot:activator="{ props }">
      <v-chip
        v-bind="props"
        variant="elevated"
        :color="txtColor"
        :append-icon="disabled ? '' : 'mdi-pencil'"
      >
        {{ txtLabel }}
      </v-chip>
    </template>
    <v-card>
      <v-toolbar
        dark
        color="blue"
      >
        <v-toolbar-title>レビュー種別</v-toolbar-title>
        <v-spacer />
        <v-toolbar-items>
          <v-btn
            icon
            dark
            @click="dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <div class="ma-4">
        <v-select
          v-model="type"
          label="種別"
          variant="outlined"
          :items="[
           { title: '要件定義', value: 'requirement' },
           { title: '設計', value: 'soft_design' },
           { title: '実装', value: 'coding' },
           { title: '単体テスト', value: 'unit_test' },
           { title: '結合テスト', value: 'integration_test' }
          ]"
        />
      </div>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          variant="elevated"
          color="blue"
          @click="save"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
</style>
