<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps({
  label_type: String,
  disabled: Boolean
});


const txtLabel = computed(() => {
  const target = props.label_type;

  let label = '不明';
  if (target == 'self_review') {
    label = 'セルフレビュー';
  } else if (target == 'review') {
    label = 'レビュー';
  } else if (target == 'outsider_review') {
    label = '第三者レビュー';
  } else if (props.label_type) {
    label = props.label_type;
  }
  return label;
});

const txtColor = computed(() => {
  const target = props.label_type;

  let color = '';
  if (target == 'self_review') {
    color = 'blue';
  } else if (target == 'review') {
    color = 'indigo';
  } else if (target == 'outsider_review') {
    color = 'deep-purple';
  }
  return color;
});
</script>

<template>
  <v-chip
    v-bind="props"
    variant="elevated"
    :color="txtColor"
  >
    {{ txtLabel }}
  </v-chip>
</template>

<style scoped>
</style>
