<script setup lang="ts">
import { ref, computed, Ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import draggable from 'vuedraggable';
import { Item, datas } from '@/assets/list';
import detailModal from '@/components/detail-modal.vue';
import { reviewerType, reviewInfo } from '@/models/gitlab';
import useReviewDetail from '@/composables/useReviewDetail';
import useGitLab from '@/composables/useGitLab';

const route = useRoute();
const router = useRouter();
const { init, project, merge_request, target_mr_iid } = useReviewDetail();

if (typeof route.params.id == "string" && typeof route.params.iid == "string") {
  init(parseInt(route.params.id));
  target_mr_iid.value = parseInt(route.params.iid);
} else {
  router.push('/'); // パラメータが足りない
}

const query_type: reviewerType = route.query.type as reviewerType;
const type = computed(() => {
  if (query_type == 'self_review') {
    return 'セルフレビュー';
  } else if (query_type == 'review') {
    return 'レビュー';
  } else if (query_type == 'outsider_review') {
    return '第三者レビュー';
  }
  return 'レビュー';
});

let reviewed_list: reviewInfo[] = [];
let yet_list: Ref<Item[]> = ref([]);
const ok_list: Ref<Item[]> = ref([]);
const ng_list: Ref<Item[]> = ref([]);
const ignore_list: Ref<Item[]> = ref([]);

watch(merge_request, () => {
  if (merge_request.value.id == 0) {
    return;
  }

  if (query_type == 'self_review') {
    reviewed_list = merge_request.value.self_reviewed_list;
  } else if (query_type == 'review') {
    reviewed_list = merge_request.value.reviewed_list;
  } else if (query_type == 'outsider_review') {
    reviewed_list = merge_request.value.outsider_reviewed_list;
  }

  for (const candidate of datas) {
    const candidate_category = (candidate.category.length == 0 || candidate.category.includes(query_type));
    const candidate_type = (candidate.type.length == 0 || candidate.type.includes(merge_request.value.type));
    if (candidate_category && candidate_type) {
      yet_list.value.push({
        type: candidate.type,
        category: candidate.category,
        label: candidate.label,
        value: candidate.value,
        file: candidate.file
      });
    }
  }

  for (const reviewed of reviewed_list) {
    if (reviewed.state == 'ok') {
      const tgt = yet_list.value.filter((item) => {
        return item.value == reviewed.title;
      });

      if (tgt.length > 0) {
        yet_list.value = yet_list.value.filter((item) => {
          return item.value != reviewed.title;
        });
        ok_list.value.push(tgt[0]);
      }
    } else if (reviewed.state == 'ng') {
      const tgt = yet_list.value.filter((item) => {
        return item.value == reviewed.title;
      });

      if (tgt.length > 0) {
        yet_list.value = yet_list.value.filter((item) => {
          return item.value != reviewed.title;
        });
        ng_list.value.push(tgt[0]);
      }
    } else if (reviewed.state == 'ignore') {
      const tgt = yet_list.value.filter((item) => {
        return item.value == reviewed.title;
      });

      if (tgt.length > 0) {
        yet_list.value = yet_list.value.filter((item) => {
          return item.value != reviewed.title;
        });
        ignore_list.value.push(tgt[0]);
      }
    }
  }
});

const save = async () => {
  const reviewed: reviewInfo[] = [];
  for (const item of ok_list.value) {
    reviewed.push({
      title: item.value,
      state: 'ok'
    });
  }
  for (const item of ng_list.value) {
    reviewed.push({
      title: item.value,
      state: 'ng'
    });
  }
  for (const item of ignore_list.value) {
    reviewed.push({
      title: item.value,
      state: 'ignore'
    });
  }

  merge_request.value.updateReviewed(query_type, reviewed);
  await useGitLab().updateMergeRequest(merge_request.value);
  router.push(`/p/${project.value.id}`);
};
</script>

<template>
  <v-card class="ma-4">
    <v-card-title class="bg-blue-grey-lighten-1">
      {{ `【${type}】${merge_request.title}` }}
      <v-btn
        density="compact"
        icon="mdi-open-in-new"
        variant="text"
        :href="merge_request.web_url"
        target="_blank"
      />
    </v-card-title>
    <v-container class="pa-2 flex" fluid>
      <v-row>
        <v-col cols="4">
          <v-card height="600">
            <v-card-title class="bg-lime">未レビュー</v-card-title>
            <draggable class="pa-1 h-100" :list="yet_list" group="ITEMS" item-key="value" tag="ul">
              <template #item="{ element }">
                <li class="pointer">
                  <v-alert
                    border="start"
                    border-color="blue"
                    density="compact"
                    class="my-1"
                  >
                    {{ element.label }}
                    <detailModal :review_info="element" />
                  </v-alert>
                </li>
              </template>
            </draggable>
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card height="600">
            <v-card-title class="bg-blue">レビュー済み</v-card-title>
            <draggable class="pa-1 h-100" :list="ok_list" group="ITEMS" item-key="value" tag="ul">
              <template #item="{ element }">
                <li class="pointer">
                  <v-alert
                    border="start"
                    border-color="blue"
                    density="compact"
                    class="my-1"
                  >
                    {{ element.label }}
                    <detailModal :review_info="element" />
                  </v-alert>
                </li>
              </template>
            </draggable>
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card height="296">
            <v-card-title class="bg-red">差し戻し</v-card-title>
            <draggable class="pa-1 h-100" :list="ng_list" group="ITEMS" item-key="value" tag="ul">
              <template #item="{ element }">
                <li class="pointer">
                  <v-alert
                    border="start"
                    border-color="blue"
                    density="compact"
                    class="my-1"
                  >
                    {{ element.label }}
                    <detailModal :review_info="element" />
                  </v-alert>
                </li>
              </template>
            </draggable>
          </v-card>
          <v-card height="296" class="mt-2">
            <v-card-title class="bg-grey-darken-3">対象外</v-card-title>
            <draggable class="pa-1 h-100" :list="ignore_list" group="ITEMS" item-key="value" tag="ul">
              <template #item="{ element }">
                <li class="pointer">
                  <v-alert
                    border="start"
                    border-color="blue"
                    density="compact"
                    class="my-1"
                  >
                    {{ element.label }}
                    <detailModal :review_info="element" />
                  </v-alert>
                </li>
              </template>
            </draggable>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-divider />
    <v-card-actions>
      <v-spacer />
      <v-btn color="blue" variant="elevated" @click="save">保存</v-btn>
      <v-btn variant="elevated" :to="`/p/${project.id}`">キャンセル</v-btn>
    </v-card-actions>
  </v-card>
</template>

<style scoped>
.pointer {
  cursor: grab;
}
</style>
