<script setup lang="ts">
import { ref } from 'vue';
import useUser from '@/composables/useUser';
import useOAuth2 from '@/composables/useOAuth2';

const { VITE_GITLAB_BASE_DOMAIN } = import.meta.env;
const drawer = ref(false);
const { user, logined, syncUserInfo } = useUser();

syncUserInfo();
</script>

<template>
  <v-app>
    <v-app-bar density="compact" color="blue-lighten-1">
      <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer" />
      <v-toolbar-title>ReviewSupport</v-toolbar-title>
      <v-spacer />
      <v-list-item
        v-if="logined"
        :prepend-avatar="user.avatar_url"
        :title="user.name"
        :href="user.web_url"
        target="_blank"
        density="compact"
      />
      <v-btn
        v-else
        variant="outlined"
        @click="useOAuth2().redirect"
      >
        ログイン
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" location="left" temporary class="py-2">
      <template v-if="logined">
        <v-list-item
          :prepend-avatar="user.avatar_url"
          :title="user.name"
          :href="user.web_url"
          target="_blank"
          density="compact"
        />
        <v-divider class="my-2" />
        <v-list-item
          title="トップ"
          prepend-icon="mdi-face-agent"
          to="/"
          density="compact"
        />
        <v-divider class="my-2" />
      </template>
      <v-list nav>
        <v-list-item
          title="GitLab"
          prepend-icon="mdi-gitlab"
          :link="true"
          :href="VITE_GITLAB_BASE_DOMAIN"
          target="_blank"
          density="compact"
        />
      </v-list>
    </v-navigation-drawer>

    <v-main class="bg-grey-lighten-2" scrollable>
      <router-view />
    </v-main>
  </v-app>
</template>

<style scoped>
</style>
